@tailwind base;
@tailwind components;
@tailwind utilities;



*,
*:before,
*:after {
    @apply p-0 m-0 box-border
}

:root {
    --theme-color: #06b6d4;
}

body {
    @apply bg-slate-100
}

.container {
    @apply absolute -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2
}

.card {
    @apply bg-white h-[420px] w-[320px] rounded-2xl shadow-lg py-[50px] px-0 font-poppins text-center tracking-[0.5px] font-semibold overflow-hidden
}

.circle {
    @apply rounded-full h-[400px] w-full overflow-hidden -translate-y-[200px]
}

.circle {
    background: var(--theme-color);
}

.content {
    @apply translate-y-[150px]
}

img {
    @apply block w-[100px] h-[100px] relative border-white my-5 mx-auto rounded-full shadow-lg 
}

.content h4 {
    @apply text-white
}

.content h5 {
    @apply text-slate-100 font-medium mt-1
}

.details {
    @apply w-full mt-0 flex justify-around text-gray-800 -translate-y-[190px]
}

.details h2 {
    @apply font-medium
}

.details span {
    color: var(--theme-color);
}

.buttons {
    @apply w-full flex justify-around mt-[30px] -translate-y-[190px]
}

.buttons button:first-child {
    @apply w-[130px] p-1 rounded-3xl text-white
}

.buttons button:first-child {
    background-color: var(--theme-color);
}

.buttons button:last-child {
    @apply w-[130px] bg-transparent p-1 rounded-3xl
}

.buttons button:last-child {
    color: var(--theme-color);
    border: 2px solid var(--theme-color);
}

.themes {
    @apply bg-white shadow-xl p-5 mt-10 flex justify-around rounded-xl relative
}

.themes button {
    @apply h-[25px] w-[25px] border-[3px] border-solid border-slate-200 outline-none rounded-full
}

.btn1 {
    background-color: #06b6d4;
}

.btn2 {
    background-color: #6d28d9;
}

.btn3{
    background-color: #e11d48;
}

.btn4 {
    background-color: #059669;
}

.btn5 {
    background-color: #4b5563;
}